<div class="jugador">

    <img class="avatar" ng-src="assets/img/{{jugador.activo && !jugador.terminoTurno?'activado':'desactivado'}}.png"/>

    <div class="datos" ng-class="{activo: jugador.activo}">

        <div class="titulo">{{"JUGADOR" | translate}} {{jugador.numero}}</div>
        <progress value="{{jugador.puntos}}" max="{{maximo}}"></progress>
        <div class="puntaje font-sofachrome">{{jugador.puntos}}</div>
        <div class="blanqueadas">
            <img ng-repeat="blanqueada in jugador.getBlanqueadasArray() track by $index"
                 src="assets/img/blanqueada.png"/>

        </div>
        <span class="ronda pequeno" ng-if="jugador.equipo && jugador.activo">{{ jugador.codigoRonda()}}</span>

    </div>
</div>